<form action="/property" method="post">
  <div class="form-group">
    <label for="streetAddress">Street Address</label>
    <input name="streetAddress" id="streetAddress" required type="text">
  </div>

  <div class="form-group">
    <label for="city">City</label>
    <input name="city" id="city" required type="text">
  </div>

  <div class="form-group">
    <label for="state">State</label>
    <input name="state" id="state" required type="text">
  </div>

  <div class="form-group">
    <label for="zip">Zip Code</label>
    <input name="zip" id="zip" required type="text">
  </div>

  <div class="form-group">
    <label for="sqFootage">Square Footage</label>
    <input name="sqFootage" id="sqFootage" required type="text">
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <input name="price" id="price" required type="text">
  </div>

  <div class="form-group">
    <label for="deposit">Deposit</label>
    <input name="deposit" id="deposit" required type="text">
  </div>

  <div class="form-group">
    <label for="pets">Pets</label>
    <input name="pets" id="pets" type="checkbox">
  </div>

  <div class="form-group">
    <label for="petDeposit">Pet Deposit</label>
    <input name="petDeposit" id="petDeposit" type="text">
  </div>

  <div class="form-group">
    <label for="parking">Parking</label>
    <input name="parking" id="parking" required type="text">
  </div>

  <div class="form-group">
    <label for="bedrooms">Bedrooms</label>
    <input name="bedrooms" id="bedrooms" required type="text">
  </div>

  <div class="form-group">
    <label for="bathrooms">Bathrooms</label>
    <input name="bathrooms" id="bathrooms" required type="text">
  </div>

  <div class="form-group">
    <label for="appliances">Appliances</label>
    <textarea name="appliances" id="appliances"></textarea>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description"></textarea>
  </div>

  <div class="form-group">
    <label for="amenities">Amenities</label>
    <textarea name="amenities" id="amenities"></textarea>
  </div>

  <div class="form-group">
    <label for="utilities">Utilities</label>
    <textarea name="utilities" id="utilities"></textarea>
  </div>

  <button type="submit">Create Property</button>
</form>
