<div class="zone zone-slide">
	<div class="slider">
		<ul class="slides">
			<li><img src="http://placehold.it/1600x300/CCCCCC" alt="" /></li>
			<li><img src="http://placehold.it/1600x300/FFCCCC" alt="" /></li>
			<li><img src="http://placehold.it/1600x300/CCCCFF" alt="" /></li>
		</ul>
	</div>
</div>
<div class="zone zone-home">
	<div class="core core-home">

	</div>
</div>
<script src="/js/vendor/flexslider/jquery.flexslider.min.js"></script>
<script>$(function(){RK_MODULES.flexslider()});</script>