<div class="home-content">
	<div class="unit unit6-sm home-window home-window-left">
		<div class="home-window-content">
			<h2 class="home-title">Tenants</h2>
			<ul>
				<li>Lorem ipsum dolor sit amet, vitae vitae aliquam, integer</li>
				<li>Exercitationem dolor donec turpis convallis sed. Mauris</li>
				<li>At vitae, pharetra massa cursus amet non in, ornare </li>
			</ul>
			<a href="/tenant/register">learn more about renting <span class="icon btn-go"></span></a>
		</div>
	</div>
	<div class="unit unit6-sm home-window home-window-right">
		<div class="home-window-content">
			<h2 class="home-title">Landlord</h2>
			<ul>
				<li>Lorem ipsum dolor sit amet, vitae vitae aliquam, integer</li>
				<li>Exercitationem dolor donec turpis convallis sed. Mauris</li>
				<li>At vitae, pharetra massa cursus amet non in, ornare </li>
			</ul>
			<a href="/landlord/register">learn more about listings <span class="icon btn-go"></span></a>
		</div>
	</div>
</div>

<!-- <div class="zone zone-slide">
	<div class="slider">
		<ul class="slides">
			<li><img src="http://placehold.it/1600x300/CCCCCC" alt="" /></li>
			<li><img src="http://placehold.it/1600x300/FFCCCC" alt="" /></li>
			<li><img src="http://placehold.it/1600x300/CCCCFF" alt="" /></li>
		</ul>
	</div>
</div>
<div class="zone zone-home">
	<div class="core core-home">

	</div>
</div> -->
<script src="/js/vendor/flexslider/jquery.flexslider.min.js"></script>
<script>$(function(){RK_MODULES.flexslider()});</script>
