<div class="zone zone-slide">
	<div class="core core-slide">
		<div class="slider">
			<ul class="slides">
				<li><img src="http://imacrayon.com/holdr/1600x300" alt="" /></li>
				<li><img src="http://imacrayon.com/holdr/1600x300" alt="" /></li>
				<li><img src="http://imacrayon.com/holdr/1600x300" alt="" /></li>
			</ul>
		</div>
	</div>
</div>
<div class="zone zone-home">
	<div class="core core-home">

	</div>
</div>
<script src="/js/vendor/flexslider/jquery.flexslider.min.js"></script>
<script>$(function(){RK_MODULES.flexslider()});</script>