<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RentRep</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link href='http://fonts.googleapis.com/css?family=Raleway:700,500,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/flexslider.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
    <script src="/js/modules.js"></script>
  </head>

  <body>
    <!--[if lt IE 8]>
        <div class="alert alert-error">Oh god we have a <strong>serious</strong> problem! Your browser is <strong>outdated</strong>. Please <a href="http://browsehappy.com/">upgrade your browser</a>. Do it for you! If you can't, harass who can do it for you.</div>
    <![endif]-->

    <div class="zone zone-head">
        <% ['error', 'success'].forEach(function(type) { %>
          <% req.flash(type).forEach(function(msg) { %>
            <div class="alert alert-<%= type === 'error' ? 'error' : 'success' %>">
              <button type="button" class="close-alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              <%= msg %>
            </div>
          <% }) %>
        <% }) %>
      <div class="clearfix">
          <h1 class="logo-head"><a class="icon icon-logo" href="/">RentRep</a></h1>
          <button class="nav-toggle" type="button" role="button" aria-label="Toggle Navigation"><span class="lines"></span></button>
          <div class="nav nav-head clearfix">

            <% if (!req.session.authenticated) { %>
              <div class="login-dropdown">
                <a class="btn btn-login login-toggle" href="#">Login <span class="icon icon-arrow-down"></span></a>
                  <div class="login-menu">
                    <form class="form-login" action="/login" method="post">
                      <div class="form-group">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" class="form-control" name="email" required />
                      </div>
                      <div class="form-group">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" id="password" class="form-control" name="password" required />
                      </div>
                      <button class="btn btn-orange btn-submit" type="submit">Login</button>
                    </form>
                  </div>
                </div>
              <% } else { %>
                <a class="btn btn-logout" href="/logout">Logout</a>
              <% } %>

            </div>
        </div>
      </div>

    <div class="main clearfix">

      <%- body %>

    </div>

<!--     <div class="zone zone-foot">
      <div class="core core-foot">
        <div class="text-center"><small>&copy; 2014 Rent Karma</small></div>
      </div>
    </div> -->

    <script src="/js/dependencies/sails.io.js"></script>
  </body>
</html>
