<form class="form-login">
	<div class="form-group">
		<lable for="email" class="form-lable">Email</label>
		<input type="email" id="email" class="form-control" />
	</div>
	<div class="form-group">
		<lable for="password" class="form-lable">Password</label>
		<input type="password" id="password" class="form-control" />
	</div>
</form>