<div class="main-left">
  <div class="main-left-inner">
    <%- partial('../../tenant/profile.ejs') %>
  </div>
</div>

<div class="main-right">
  <div class="main-right-inner">
    <form class="form-application-new" action="/property/<%= req.params.propertyId %>/application" method="post">
      <div class="form-group">
        <label class="form-label" for="phone">phone</label>
        <input type="text" name="phone" id="phone" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="dob">dob</label>
        <input type="text" name="dob" id="dob" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="dlNumber">dlNumber</label>
        <input type="text" name="dlNumber" id="dlNumber" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="dlState">dlState</label>
        <input type="text" name="dlState" id="dlState" class="form-control">
      </div>

      <div class="form-group">
        <label class="form-label" for="currentAddress">currentAddress</label>
        <input type="text" name="currentAddress" id="currentAddress" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="currentCity">currentCity</label>
        <input type="text" name="currentCity" id="currentCity" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="currentState">currentState</label>
        <input type="text" name="currentState" id="currentState" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="currentZip">currentZip</label>
        <input type="text" name="currentZip" id="currentZip" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="currentLandlordName">currentLandlordName</label>
        <input type="text" name="currentLandlordName" id="currentLandlordName" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="currentLandlordAddress">currentLandlordAddress</label>
        <input type="text" name="currentLandlordAddress" id="currentLandlordAddress" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="currentLandlordPhone">currentLandlordPhone</label>
        <input type="text" name="currentLandlordPhone" id="currentLandlordPhone" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="timeAtCurrentAddress">timeAtCurrentAddress</label>
        <input type="text" name="timeAtCurrentAddress" id="timeAtCurrentAddress" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="reasonForLeavingCurrent">reasonForLeavingCurrent</label>
        <input type="text" name="reasonForLeavingCurrent" id="reasonForLeavingCurrent" class="form-control">
      </div>

      <div class="form-group">
        <label class="form-label" for="previousAddress">previousAddress</label>
        <input type="text" name="previousAddress" id="previousAddress" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="previousCity">previousCity</label>
        <input type="text" name="previousCity" id="previousCity" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="previousState">previousState</label>
        <input type="text" name="previousState" id="previousState" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="previousZip">previousZip</label>
        <input type="text" name="previousZip" id="previousZip" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="previousLandlordName">previousLandlordName</label>
        <input type="text" name="previousLandlordName" id="previousLandlordName" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="previousLandlordAddress">previousLandlordAddress</label>
        <input type="text" name="previousLandlordAddress" id="previousLandlordAddress" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="previousLandlordPhone">previousLandlordPhone</label>
        <input type="text" name="previousLandlordPhone" id="previousLandlordPhone" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="timeAtPreviousAddress">timeAtPreviousAddress</label>
        <input type="text" name="timeAtPreviousAddress" id="timeAtPreviousAddress" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="reasonForLeavingPrevious">reasonForLeavingPrevious</label>
        <input type="text" name="reasonForLeavingPrevious" id="reasonForLeavingPrevious" class="form-control">
      </div>

      <div class="form-group">
        <label class="form-label" for="autoYear">autoYear</label>
        <input type="text" name="autoYear" id="autoYear" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="autoMake">autoMake</label>
        <input type="text" name="autoMake" id="autoMake" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="autoModel">autoModel</label>
        <input type="text" name="autoModel" id="autoModel" class="form-control">
      </div>

      <div class="form-group">
        <label class="form-label" for="autoState">autoState</label>
        <input type="text" name="autoState" id="autoState" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="autoLicense">autoLicense</label>
        <input type="text" name="autoLicense" id="autoLicense" class="form-control">
      </div>

      <div class="form-group">
        <label class="form-label" for="presentEmployer">presentEmployer</label>
        <input type="text" name="presentEmployer" id="presentEmployer" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="presentEmployerPosition">presentEmployerPosition</label>
        <input type="text" name="presentEmployerPosition" id="presentEmployerPosition" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="presentEmployerPhone">presentEmployerPhone</label>
        <input type="text" name="presentEmployerPhone" id="presentEmployerPhone" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="presentEmployerAddress">presentEmployerAddress</label>
        <input type="text" name="presentEmployerAddress" id="presentEmployerAddress" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="presentEmployerCity">presentEmployerCity</label>
        <input type="text" name="presentEmployerCity" id="presentEmployerCity" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="presentEmployerState">presentEmployerState</label>
        <input type="text" name="presentEmployerState" id="presentEmployerState" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="presentEmployerZip">presentEmployerZip</label>
        <input type="text" name="presentEmployerZip" id="presentEmployerZip" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="presentEmployerPhone">presentEmployerPhone</label>
        <input type="text" name="presentEmployerPhone" id="presentEmployerPhone" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="timeAtPresentEmployer">timeAtPresentEmployer</label>
        <input type="text" name="timeAtPresentEmployer" id="timeAtPresentEmployer" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="presentEmployerMonthlyIncome">presentEmployerMonthlyIncome</label>
        <input type="text" name="presentEmployerMonthlyIncome" id="presentEmployerMonthlyIncome" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="otherIncome">otherIncome</label>
        <input type="text" name="otherIncome" id="otherIncome" class="form-control">
      </div>

      <button type="submit">Submit Application</button>
    </form>
  </div>
</div>
