<form class="form-home">
	<div class="form-group">
		<label for="zip" class="form-label">Your zip code dawg</label>
		<input type="zip" id="zip" class="form-control" name="zip" required />
	</div>
</form>
<div class="unit unit6-sm">
	
</div>
<div class="unit unit6-sm">

</div>