<div class="main-left">
	<div class="main-left-inner">
		<div class="profile">
			<div class="profile-head">
				<img class="profile-image" src="http://placehold.it/150x150" alt="" />
				<h2 class="profile-title">Christian Taylor</h2>
			</div>
			<div class="profile-body">
				<div class="nav-main-left">
					<ul class="menu-main-left menu">
						<li><a href="">Properties</a></li>
						<li><a href="">Tenants</a></li>
					</ul>
				</div>
			</div>
	</div>
</div>
<div class="main-right">
	<div class="gallery-listing">
		<div class="unit-listing unit4-md">
			<div class="item-listing">
				<div class="item-listing-head">
					<img class="item-listing-image" src="http://placehold.it/300x150" alt="" />
				</div>
				<div class="item-listing-body">
					<p>Lorem ipsum shit...</p>
				</div>
			</div><!-- .item-listing -->
		</div><!-- .unit-listing -->
		<div class="unit-listing unit4-md">
			<div class="item-listing">
				<div class="item-listing-head">
					<img class="item-listing-image" src="http://placehold.it/300x150" alt="" />
				</div>
				<div class="item-listing-body">
					<p>Lorem ipsum shit...</p>
				</div>
			</div><!-- .item-listing -->
		</div><!-- .unit-listing -->
		<div class="unit-listing unit4-md">
			<div class="item-listing">
				<div class="item-listing-head">
					<img class="item-listing-image" src="http://placehold.it/300x150" alt="" />
				</div>
				<div class="item-listing-body">
					<p>Lorem ipsum shit...</p>
				</div>
			</div><!-- .item-listing -->
		</div><!-- .unit-listing -->
		<div class="unit-listing unit4-md">
			<div class="item-listing">
				<div class="item-listing-head">
					<img class="item-listing-image" src="http://placehold.it/300x150" alt="" />
				</div>
				<div class="item-listing-body">
					<p>Lorem ipsum shit...</p>
				</div>
			</div><!-- .item-listing -->
		</div><!-- .unit-listing -->
		<div class="unit-listing unit4-md">
			<div class="item-listing">
				<div class="item-listing-head">
					<img class="item-listing-image" src="http://placehold.it/300x150" alt="" />
				</div>
				<div class="item-listing-body">
					<p>Lorem ipsum shit...</p>
				</div>
			</div><!-- .item-listing -->
		</div><!-- .unit-listing -->
		<div class="unit-listing unit4-md">
			<div class="item-listing">
				<div class="item-listing-head">
					<img class="item-listing-image" src="http://placehold.it/300x150" alt="" />
				</div>
				<div class="item-listing-body">
					<p>Lorem ipsum shit...</p>
				</div>
			</div><!-- .item-listing -->
		</div><!-- .unit-listing -->
		<div class="unit-listing unit4-md">
			<div class="item-listing">
				<div class="item-listing-head">
					<img class="item-listing-image" src="http://placehold.it/300x150" alt="" />
				</div>
				<div class="item-listing-body">
					<p>Lorem ipsum shit...</p>
				</div>
			</div><!-- .item-listing -->
		</div><!-- .unit-listing -->
	</div>
</div>
