/* Defaults */
* {
    -webkit-box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Helvetica Neue', sans-serif;
    background: #fff;
    color: #222;
    line-height: 1.6;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;   
    margin-bottom: 8px;
}
p, ul {
    margin: 0 1.5em;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.core {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1em;
}
.menu,
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Alerts */
.alert {
    margin-bottom: 1em;
    padding: .4em .8em;
}
.alert-success {
    background: #b8b8b8;
}
.alert-error {
    background: #b8b8b8;
}

/* Navigation */
.nav-toggle {
    position: absolute;
    right: 1em;
    top: 14px;
    display: inline-block;
    -webkit-transition: .3s;
    cursor: pointer;
    user-select: none; 
    background: transparent;
    border: 0;
}
.nav-toggle.close .lines{
    background: transparent;
}
.nav-toggle.close .lines:before, 
.nav-toggle.close .lines:after{
  -webkit-transform-origin: center center;
  top: 0;
  margin: -1px; // Fix for Android Stock Browser
  width: 2em;
}
.nav-toggle.close .lines:before{
  -webkit-transform: rotate3d(0,0,1,45deg);
}
.nav-toggle.close .lines:after{
  -webkit-transform: rotate3d(0,0,1,-45deg);
}
.nav-toggle:focus {
    outline: none;
}
.nav-toggle:hover {
    opacity: 1;
}
.lines {
    display: inline-block;
    width: 2em;
    height: 1em;
    background: #000;
    -webkit-transition: .3s;
    position: relative; 
}
.lines:before, 
.lines:after {
    content: ' ';
    display: inline-block;
    width: 2em;
    height: 1em;
    background: #000;
    -webkit-transition: .3s;
    position: absolute;
    left:0;
    -webkit-transform-origin: 1em center;
}
.lines:before { top: .25em; }
.lines:after { top: -.25em; }

.logo-head {
    margin: 0;
    font-size: 0;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: .4em .8em;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-block {
    display: block;
    width: 100%;
}

/* Text */
.pull-left {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1em;
}
.pull-right {
    float: left;
    margin-left: 1.5em;
    margin-bottom: 1em;
}

/* Forms */
.form-group {
    display: block;
    margin-bottom: 1em;
    position: relative;
}
.form-label {
    line-height: 1;
    display: block;
    position: absolute;
    top: .5em;
    left: 1em;
}
.filled .form-label {
    opacity: 0;
    visibility: hidden;
}
.form-control {
    display: block;
    width: 100%;
    background: #fff;
    padding: .5em 1em;
    outline: 0;
    border: 1px solid #b8b8b8;
    box-shadow: inset 0px 1px 4px rgba(0,0,0,0.1), 0px 0px 0px 7px rgba(204,204,204,0);
    -webkit-transition: border 0.3s, box-shadow 0.3s;
}

/* Tables */
.table-container {
    max-width: 100%;
    overflow: hidden;
}

/* Helper classes */
.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}
.clearfix:after {
    clear: both;
}

.icon,
.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

/* Icons */
.icon {
    display: inline-block;
    vertical-align: middle;
    line-height: inherit;
    position: relative;
}
.icon-logo {
    background-image: url(../images/sprites/icon-logo.gif);
    width: 48px;
    height: 48px;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}

.grid {
    margin-left: -1em;
    margin-right: -1em;
}

.unit1-xs,.unit2-xs,.unit3-xs,.unit4-xs,.unit5-xs,.unit6-xs,.unit7-xs,.unit8-xs,.unit9-xs,.unit10-xs,.unit11-xs,.unit12-xs,
.unit1-sm,.unit2-sm,.unit3-sm,.unit4-sm,.unit5-sm,.unit6-sm,.unit7-sm,.unit8-sm,.unit9-sm,.unit10-sm,.unit11-sm,.unit12-sm,
.unit1-md,.unit2-md,.unit3-md,.unit4-md,.unit5-md,.unit6-md,.unit7-md,.unit8-md,.unit9-md,.unit10-md,.unit11-md,.unit12-md,
.unit1-lg,.unit2-lg,.unit3-lg,.unit4-lg,.unit5-lg,.unit6-lg,.unit7-lg,.unit8-lg,.unit9-lg,.unit10-lg,.unit11-lg,.unit12-lg {
    display: block;
    width: 100%;
    height: auto;
    min-height: 1px;
    padding-left: 1em;
    padding-right: 1em;
}
.unit1-xs,.unit2-xs,.unit3-xs,.unit4-xs,.unit5-xs,.unit6-xs,.unit7-xs,.unit8-xs,.unit9-xs,.unit10-xs,.unit11-xs,.unit12-xs {
    float: left;
}
.unit1-xs { width: 8.333333333333333% }
.unit2-xs { width: 16.66666666666666% }
.unit3-xs { width: 25% }
.unit4-xs { width: 33.33333333333333% }
.unit5-xs { width: 41.66666666666666% }
.unit6-xs { width: 50% }
.unit7-xs { width: 58.33333333333333% }
.unit8-xs { width: 66.66666666666666% }
.unit9-xs { width: 75% }
.unit10-xs { width: 83.3333333333333% }
.unit11-xs { width: 91.6666666666666% }

@media only screen and (min-width: 560px) {
    .unit1-sm,.unit2-sm,.unit3-sm,.unit4-sm,.unit5-sm,.unit6-sm,.unit7-sm,.unit8-sm,.unit9-sm,.unit10-sm,.unit11-sm,.unit12-sm {
        float: left;
    }

    .unit1-sm { width: 8.333333333333333% }
    .unit2-sm { width: 16.66666666666666% }
    .unit3-sm { width: 25% }
    .unit4-sm { width: 33.33333333333333% }
    .unit5-sm { width: 41.66666666666666% }
    .unit6-sm { width: 50% }
    .unit7-sm { width: 58.33333333333333% }
    .unit8-sm { width: 66.66666666666666% }
    .unit9-sm { width: 75% }
    .unit10-sm { width: 83.3333333333333% }
    .unit11-sm { width: 91.6666666666666% }
}
@media only screen and (min-width: 768px) {
    .unit1-md,.unit2-md,.unit3-md,.unit4-md,.unit5-md,.unit6-md,.unit7-md,.unit8-md,.unit9-md,.unit10-md,.unit11-md,.unit12-md {
        float: left;
    }

    .unit1-md { width: 8.333333333333333% }
    .unit2-md { width: 16.66666666666666% }
    .unit3-md { width: 25% }
    .unit4-md { width: 33.33333333333333% }
    .unit5-md { width: 41.66666666666666% }
    .unit6-md { width: 50% }
    .unit7-md { width: 58.33333333333333% }
    .unit8-md { width: 66.66666666666666% }
    .unit9-md { width: 75% }
    .unit10-md { width: 83.3333333333333% }
    .unit11-md { width: 91.6666666666666% }
}
@media only screen and (min-width: 1024px) {
    .nav-toggle {
        display: none;
    }

    .logo-head {
        float: left;
    }
    .nav-head {
        float: right;
    }
    .menu-head li {
        display: inline-block;
    }

    .unit1-lg,.unit2-lg,.unit3-lg,.unit4-lg,.unit5-lg,.unit6-lg,.unit7-lg,.unit8-lg,.unit9-lg,.unit10-lg,.unit11-lg,.unit12-lg {
        float: left;
    }

    .unit1-lg { width: 8.333333333333333% }
    .unit2-lg { width: 16.66666666666666% }
    .unit3-lg { width: 25% }
    .unit4-lg { width: 33.33333333333333% }
    .unit5-lg { width: 41.66666666666666% }
    .unit6-lg { width: 50% }
    .unit7-lg { width: 58.33333333333333% }
    .unit8-lg { width: 66.66666666666666% }
    .unit9-lg { width: 75% }
    .unit10-lg { width: 83.3333333333333% }
    .unit11-lg { width: 91.6666666666666% }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

    .icon-logo {
        background-image: url(../images/sprites/icon-logo@2x.gif);
        background-size: 48px 48px;
    }
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}