/* Defaults */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    width: 100%;
    height: 100%;
    position: relative;
}
body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    background: #fff;
    color: #636363;
    line-height: 1.6;
    width: 100%;
    height: 100%;
    position: relative;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 8px;
}
p, ul {
    margin: 0 0 1.5em 0;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.core {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1em;
}
.menu,
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Alerts */
.alert {
    color: #fff;
    padding: .4em .8em;
    position: relative;
}
.alert-success {
    background: #f1623e;
}
.alert-error {
    background: #f1623e;
}
.zone-head .alert {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    width: 100%;
}
.close-alert {
    position: relative;
    top: 0;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}


/* Navigation */
.nav-toggle {
    position: absolute;
    right: 1em;
    top: 0;
    display: inline-block;
    -webkit-transition: .3s;
    cursor: pointer;
    user-select: none;
    background: transparent;
    border: 0;
    padding: 0;
}
.nav-toggle.close .lines{
    background: transparent;
}
.nav-toggle.close .lines:before,
.nav-toggle.close .lines:after {
  -webkit-transform-origin: center center;
  top: 0;
  margin: -1px; // Fix for Android Stock Browser
  width: 2em;
}
.nav-toggle.close .lines:before{
  -webkit-transform: rotate3d(0,0,1,45deg);
}
.nav-toggle.close .lines:after{
  -webkit-transform: rotate3d(0,0,1,-45deg);
}
.nav-toggle:focus {
    outline: none;
}
.nav-toggle:hover {
    opacity: 1;
}
.lines {
    display: inline-block;
    width: 2em;
    height: 4px;
    background: #000;
    -webkit-transition: .3s;
    position: relative;
    top: 0px;
}
.lines:before,
.lines:after {
    content: ' ';
    display: inline-block;
    width: 2em;
    height: 4px;
    background: #000;
    -webkit-transition: .3s;
    position: absolute;
    left:0;
    -webkit-transform-origin: 1em center;
}
.lines:before { top: 8px; }
.lines:after { top: -8px; }

.logo-head {
    margin: 0;
    font-size: 0;
    display: inline-block;
    margin-top: 10px;
}
.nav-head {
    position: absolute;
    right: 1em;
    top: 0;
}
.nav-head.close {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.zone-head {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    background: #fff;
    height: 93px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.3);
    text-align: center;
    padding: 0 2em;
}
.main {
    padding-top: 93px;
    width: 100%;
    position: relative;
}

/* Main Left */
.main-left {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #d6e6e6;
    overflow: auto;
    z-index: 2;
}
.main-left-inner {
    padding: 1em;
}
.profile-head {
    text-align: center;
    margin-bottom: 1em;
    border-bottom: 2px solid #636363;
}
.profile-image {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto 1em auto;
    border-radius: 50%;
}
.profile-title {
    font-size: 26px;
    color: #636363;
    margin-bottom: 8px;
}
.profile-details {
    margin-bottom: 1em;
}

.profile-rating {
    margin-bottom: 1em;
    text-align: center;
}
.rate-score {
    color: #fff;
    font-size: 20px;
    background: #93c748;
    display: inline-block;
    padding: 4px 12px 6px 12px;
    line-height: 1;
    border-radius: 8px;
    font-weight: 700;
    float: left;
}

.nav-main-left {
    text-align: center;
    border-top: 2px solid #636363;
    border-bottom: 1px solid #636363;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.menu-main-left a {
    border-bottom: 1px solid #636363;
    display: block;
    color: #636363;
    -webkit-transition: background .5s;
}
.menu-main-left a:hover {
    background: #deeeee;
}

.main-right {
    position: relative;
    width: 100%;
    padding-left: 300px;
    z-index: 0;
}
.main-right-inner {
    padding: 2em;
}
.listing-title,
legend {
    padding: 0;
    border: 0;
    color: #93c748;
    font-size: 44px;
    margin-bottom: 48px;
    float: left;
}
legend {
    float: none;
    margin: 0 0 8px 0;
    line-height: 1;

}
fieldset {
    min-width: 0;
    padding: 0;
    margin: 0 0 2em 0;
    border: 0;
}
.form-listing-search {
    float: right;
    padding-top: 1em;
}
.form-listing-search .form-control {
    display: inline-block;
    width: 200px;
    height: 41px;
}
.form-listing-search .btn {
    position: relative;
    padding: 0;
    top: -4px;
}
.form-listing-search .form-label {
    top: .6em;
    left: .5em;
}

.form-property-new {
    max-width: 640px;
    margin: 0 auto;
}

.property-image {
    border-radius: 8px;
    margin-bottom: 1px;
}
.property-thumb {
    width: 96px;
    height: 96px;
    border-radius: 8px;
}

.map-container {
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    position: relative;
}
.map-container #map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.unit-listing {
    margin-bottom: 2em;
}
.item-listing {
    border-radius: 8px;
    color: #636363;
}
.item-listing-active:before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: #93c748;
    z-index: 5;
}
.item-listing-image-container {
    width: 100%;
    max-height: 180px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}
.item-listing-image {
    width: 100%;
    border-radius: 8px;
    display: block;
}
.item-listing-head {
    position: relative;
    display: block;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: .5em;
}
.item-listing-body {
    display: block;
    padding: 0 1em 1em 1em;
    font-weight: 700;
}
.listing-address {
    float: left;
    padding-right: 50px;
    width: 100%;
}
.listing-price {
    float: right;
    width: 50px;
    margin-left: -50px;
    color: #f1623e;
}
.listing-alert {
    display: block;
    width: 50px;
    height: 100px;
    background: #f1623e;
    -webkit-transform: rotateZ(45deg);
    padding: 0;
    position: absolute;
    top: -33px;
    left: -9px;
    z-index: 500;
}
.list-alert-icon {
    position: absolute;
    left: 50%;
    top: 30%;
    display: block;
    -webkit-transform: rotateZ(-45deg);
    font-size: 30px;
    font-weight: 900;
    color: #fff;
}

.property-map-container {
    margin-bottom: 1em;
}
.property-info {
    padding: 0 1em 1em 1em;
    font-weight: 700;
    border-bottom: 2px solid #636363;
    margin-bottom: 1em;
}
.property-description {
    padding: 0 1em 1em 1em;
    font-size: 18px;
}
.show-title {
    text-transform: uppercase;
    font-size: 24px;
}
.show-address {
    color: #93c748;
}
.show-price {
    color: #f1623e;
}
.show-detail {
    margin-bottom: 4px;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: .25em .8em;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 8px;
    background: transparent;
}
.btn-orange {
    color: #fff;
    background-color: #f1623e;

}
.btn-orange:hover {
    background-color: #e1522e;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-login,
.btn-logout {
    position: relative;
    height: 93px;
    font-size: 28px;
    font-weight: 300;
    color: #f1623e;
    background: transparent;
    -webkit-transition: color .2s;
}
.btn-login:hover,
.btn-logout:hover {
    background: transparent;
    color: #93c748;
}
.btn-login .icon {
    position: absolute;
    left: 50%;
    bottom: -15px;
    margin-left: -15px;
}
.btn-logout {
    line-height: 84px;
}
.btn-go {
    background-image: url(../images/sprites/btn-go.png);
    width: 51px;
    height: 41px;
    padding: 0;
}
.btn-profile-edit {
    position: absolute;
    top: 1em;
    right: 1em;
}

/* Text */
.pull-left {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1em;
}
.pull-right {
    float: left;
    margin-left: 1.5em;
    margin-bottom: 1em;
}

/* Forms */
.form-group {
    display: block;
    margin-bottom: 1em;
    position: relative;
}
.form-login .form-group {
    margin-bottom: 8px;
}
.form-label {
    line-height: 1.2;
    display: block;
    position: absolute;
    top: .5em;
    left: .5em;
}
.filled .form-label {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    -transition: opacity 0.3s, visibility 0.3s;
}
.form-control {
    display: block;
    font-size: 20px;
    width: 100%;
    background: #fff;
    padding: .25em .5em;
    outline: 0;
    border: 0;
    border-radius: 8px;
    box-shadow: inset 0px 1px 4px rgba(0,0,0,0.1), 0px 0px 0px 7px rgba(204,204,204,0);
    -webkit-transition: border 0.3s, box-shadow 0.3s;
    -transition: border 0.3s, box-shadow 0.3s;
}
textarea {
    min-height: 200px;
}
.form-checkbox label {
    position: relative;
    display: block;
    padding: .5em;
    padding-left: 1.5em; 
    margin-bottom: 8px;
}
.form-checkbox input {
    position: absolute;
    top: .65em;
    left: 0;
}

.login-dropdown {
    position: relative;
}
.login-menu {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 1.5em 1em 1em 1em;
    background: #e8e8e8;
    min-width: 280px;
    display: none;
    text-align: left;
    z-index: -1;
}
.login-link {
    line-height: 1.1;
}
.open .login-menu {
    display: block;
}
/* Tables */
.table-container {
    max-width: 100%;
    overflow: hidden;
}

/* Helper classes */
.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}
.clearfix:after {
    clear: both;
}

.icon,
.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

/* Icons */
.icon {
    display: inline-block;
    vertical-align: middle;
    line-height: inherit;
    position: relative;
}
.icon-logo {
    background-image: url(../images/sprites/icon-logo.png);
    width: 253px;
    height: 72px;
}
.icon-arrow-down {
    background-image: url(../images/sprites/icon-arrow-down.png);
    width: 30px;
    height: 37px;
}
.icon-rate {
    display: inline-block;
    width: 16px;
    height: 16px; 
    border-radius: 50%;
}
.icon-rate-on {
    background: #f1623e;
}
.icon-rate-off {
    background: #636363;
}

.hidden {
    display: none !important;
    visibility: hidden;
}
.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}

.grid {
    margin-left: -1em;
    margin-right: -1em;
}

.unit1-xs,.unit2-xs,.unit3-xs,.unit4-xs,.unit5-xs,.unit6-xs,.unit7-xs,.unit8-xs,.unit9-xs,.unit10-xs,.unit11-xs,.unit12-xs,
.unit1-sm,.unit2-sm,.unit3-sm,.unit4-sm,.unit5-sm,.unit6-sm,.unit7-sm,.unit8-sm,.unit9-sm,.unit10-sm,.unit11-sm,.unit12-sm,
.unit1-md,.unit2-md,.unit3-md,.unit4-md,.unit5-md,.unit6-md,.unit7-md,.unit8-md,.unit9-md,.unit10-md,.unit11-md,.unit12-md,
.unit1-lg,.unit2-lg,.unit3-lg,.unit4-lg,.unit5-lg,.unit6-lg,.unit7-lg,.unit8-lg,.unit9-lg,.unit10-lg,.unit11-lg,.unit12-lg {
    display: block;
    width: 100%;
    min-height: 1px;
    padding-left: 1em;
    padding-right: 1em;
}
.unit1-xs,.unit2-xs,.unit3-xs,.unit4-xs,.unit5-xs,.unit6-xs,.unit7-xs,.unit8-xs,.unit9-xs,.unit10-xs,.unit11-xs,.unit12-xs {
    float: left;
}
.unit1-xs { width: 8.333333333333333% }
.unit2-xs { width: 16.66666666666666% }
.unit3-xs { width: 25% }
.unit4-xs { width: 33.33333333333333% }
.unit5-xs { width: 41.66666666666666% }
.unit6-xs { width: 50% }
.unit7-xs { width: 58.33333333333333% }
.unit8-xs { width: 66.66666666666666% }
.unit9-xs { width: 75% }
.unit10-xs { width: 83.3333333333333% }
.unit11-xs { width: 91.6666666666666% }

@media only screen and (min-width: 560px) {
    .unit1-sm,.unit2-sm,.unit3-sm,.unit4-sm,.unit5-sm,.unit6-sm,.unit7-sm,.unit8-sm,.unit9-sm,.unit10-sm,.unit11-sm,.unit12-sm {
        float: left;
    }

    .unit1-sm { width: 8.333333333333333% }
    .unit2-sm { width: 16.66666666666666% }
    .unit3-sm { width: 25% }
    .unit4-sm { width: 33.33333333333333% }
    .unit5-sm { width: 41.66666666666666% }
    .unit6-sm { width: 50% }
    .unit7-sm { width: 58.33333333333333% }
    .unit8-sm { width: 66.66666666666666% }
    .unit9-sm { width: 75% }
    .unit10-sm { width: 83.3333333333333% }
    .unit11-sm { width: 91.6666666666666% }
}
@media only screen and (min-width: 768px) {
    .unit1-md,.unit2-md,.unit3-md,.unit4-md,.unit5-md,.unit6-md,.unit7-md,.unit8-md,.unit9-md,.unit10-md,.unit11-md,.unit12-md {
        float: left;
    }

    .unit1-md { width: 8.333333333333333% }
    .unit2-md { width: 16.66666666666666% }
    .unit3-md { width: 25% }
    .unit4-md { width: 33.33333333333333% }
    .unit5-md { width: 41.66666666666666% }
    .unit6-md { width: 50% }
    .unit7-md { width: 58.33333333333333% }
    .unit8-md { width: 66.66666666666666% }
    .unit9-md { width: 75% }
    .unit10-md { width: 83.3333333333333% }
    .unit11-md { width: 91.6666666666666% }
}
@media only screen and (min-width: 1024px) {
    .nav-toggle {
        display: none;
    }
    .zone-head .nav-head {
        border: 0;
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        padding: 0;
        position: absolute;
        width: auto;
    }

    .unit1-lg,.unit2-lg,.unit3-lg,.unit4-lg,.unit5-lg,.unit6-lg,.unit7-lg,.unit8-lg,.unit9-lg,.unit10-lg,.unit11-lg,.unit12-lg {
        float: left;
    }

    .unit1-lg { width: 8.333333333333333% }
    .unit2-lg { width: 16.66666666666666% }
    .unit3-lg { width: 25% }
    .unit4-lg { width: 33.33333333333333% }
    .unit5-lg { width: 41.66666666666666% }
    .unit6-lg { width: 50% }
    .unit7-lg { width: 58.33333333333333% }
    .unit8-lg { width: 66.66666666666666% }
    .unit9-lg { width: 75% }
    .unit10-lg { width: 83.3333333333333% }
    .unit11-lg { width: 91.6666666666666% }
}

.grid-property-thumb {
    margin: 0 -4px;
}
.unit-property-thumb {
    display: block;
    float: left;
    padding: 0 5px 10px 5px; 
}

/* Home */
.home-window {
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    padding-top: 93px;
    text-align: center;
    color: #fff;
    background-size: contain;
}
.home-title {
    font-size: 80px;
    opacity: .5;
    margin: 0px;
}
.home-window ul {
    text-align: left;
}
.home-window-left {
    background: #93c748;
    background-image: url(../images/background-tenant.jpg);
    background-repeat: no-repeat;
    background-position: 50% 400px;
}
.home-window-right {
    background: #b4cfcf;
    left: 50%;
    background-image: url(../images/background-landlord.jpg);
    background-repeat: no-repeat;
    background-position: 50% 400px;
}
.home-window-content {
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
}
.home-window-content a {
    color: #fff;
    font-size: 35px;
}

/*plugin styles*/
.visualize { border: 1px solid #999; position: relative; margin-top: 2em; margin-bottom: 2em;}
.visualize canvas { position: absolute; }
.visualize ul,.visualize li { margin: 0; padding: 0;}

/*table title, key elements*/
.visualize .visualize-info { display: none;}
.visualize .visualize-title { display: block; color: #333; margin-bottom: 3px;  font-size: 1em; font-weight: bold;}
.visualize ul.visualize-key { list-style: none; font-size: .8em; }
.visualize ul.visualize-key li { list-style: none; float: left; margin-right: 10px; padding-left: 10px; position: relative;}
.visualize ul.visualize-key .visualize-key-color { width: 8px; height: 8px; left: 0; position: absolute; top: 50%; margin-top: -3px;  }
.visualize ul.visualize-key .visualize-key-label { color: #000; }

/*pie labels*/
.visualize-pie .visualize-labels { list-style: none; }
.visualize-pie .visualize-label-pos, .visualize-pie .visualize-label { position: absolute;  margin: 0; padding:0; }
.visualize-pie .visualize-label { display: block; color: #fff; font-weight: bold; font-size: 1em; }
.visualize-pie-outside .visualize-label { color: #000; font-weight: normal; }

/*line,bar, area labels*/
.visualize-labels-x,.visualize-labels-y { position: absolute; left: 0; top: 0; list-style: none; font-size: 10px;}
.visualize-labels-x li, .visualize-labels-y li { position: absolute; bottom: 0; }
.visualize-labels-x li span.label, .visualize-labels-y li span.label { position: absolute; color: #555;  }
.visualize-labels-x li span.line, .visualize-labels-y li span.line {  position: absolute; border: 0 solid #ccc; }
.visualize-labels-x li { height: 100%; }
.visualize-labels-x li span.label { top: 100%; margin-top: 5px; width: 48px;}
.visualize-labels-x li span.line { border-left-width: 1px; height: 100%; display: block; }
.visualize-labels-x li span.line { border: 0;} /*hide vertical lines on area, line, bar*/
.visualize-labels-y li { width: 100%;  }
.visualize-labels-y li span.label { right: 100%; margin-right: 5px; display: block; width: 100px; text-align: right; }
.visualize-labels-y li span.line { border-top-width: 1px; width: 100%; }
.visualize-bar .visualize-labels-x li span.label { width: 100%; text-align: center; }


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

    .icon-logo {
        background-image: url(../images/sprites/icon-logo@2x.png);
        background-size: 506px 144px;
    }
    .icon-arrow-down {
        background-image: url(../images/sprites/icon-arrow-down@2x.png);
        background-size: 60px 74px;
    }
    .btn-go {
        background-image: url(../images/sprites/btn-go@2x.png);
        background-size: 102px 82px;
    }
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
